/*stylesheet.css*/
body{
  background-color: #A7E2E8;
  height:100%;
}

.container{
  width: 80%;
  margin: auto;
  padding-top: 100px;
  font-family: 'Patrick Hand SC', cursive;
  color: white;
}

h1{
  padding-bottom: 60px;
  font-size: 5em;
  color: #004F42;
}

p{
  font-size: 2.5em;
  margin-bottom: 100px;
  margin-top: 0;
}

span{color: #004F42;}

button{
  background-color: #A7E2E8;
  font-family: 'Patrick Hand SC', cursive;
  border: 1px solid #004F42;
  font-size: 1em;
  color: #004F42;
  border-radius: 10px;
  float: right;
}

button:hover{
  background-color: #004F42;
  color: white;
}

button:focus {outline:0;}

#users-input{margin-left: 10px;}
